@model Project2_QLSVLDA.Content.Custom.Class.ClassID
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Teacher/Views/Shared/_layout.cshtml";
}


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.kyhoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thoigianbatdau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thoigianketthuc)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.kyhoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.thoigianbatdau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.thoigianketthuc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>*@

@{ 
    var id_to_cp = Model.Id;
}

@{

    var db = new Project2_QLSVLDA.Models.QL_PROJECTEntities1();
    var ketqua = (from svmh in db.SINHVIENMONHOCs
                  join sv in db.SINHVIENs
                  on svmh.mssv equals sv.massv
                  select new
                  {
                      svmh.mssv,
                      svmh.malop,
                      sv.ten
                  }).Where(svmh => svmh.malop == id_to_cp).ToList();



    <table class="table">
        <tr>
            <th>
                MSSV
            </th>
            <th>
                Tên
            </th>
            <th>
                Nhóm
            </th>
            <th></th>
        </tr>

        @foreach (var item in ketqua)
        {
            <tr>
                <td>
                    @item.mssv
                </td>
                <td>
                    @item.ten
                </td>
                <td>
                    null now
                </td>
                <td>
                   
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) 
                  
                </td>
            </tr>
        }

    </table>

}




